/*Header styles*/

@media (min-width: 1200px){
    .header-main-container{
        width: 1176px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .header-main-container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

}

@media (min-width: 600px) and (max-width: 991px){
    .header-main-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .header-main-container {
        color: #fff;
        height: 48px;
        min-height: 48px;
    }
}

@media (min-width: 992px){
    .header-wrapper{
        width: auto;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .header-wrapper{
        width: 100%;
    }
}

@media (min-width: 992px){
    .header-logo {
        width: auto;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .header-logo {
        -webkit-box-align: center;
        width: calc(100% - 216px);
        z-index: 14;
    }
}
.header-logo {
    margin: 0 auto;
}

@media (min-width: 0) and (max-width: 991px){
    .header-logo-link {
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
    }
}

@media (min-width: 992px){
    .header-image{
        height: 40px;
        margin: 0;
    }
}

.header-image{
    height: 20px;
    margin: 0 auto;
}

@media (min-width: 600px) and (max-width: 991px){
    .header-mainnavigation {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .mainnavigation-base {
        display: none;
    }
}

@media (min-width: 992px){
    .mainnavigation-base {
        display: block;
    }
}

@media (min-width: 992px){
    .mainnavigation-list{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px){
    .mainnavigation-link{
        font-size: 14px;
        line-height: 88px;
        -webkit-transition: line-height .16667s;
        transition: line-height .16667s;
    }
}

@media (min-width: 992px){
    .header-actions{
        width: auto;
        float: right;
    }
}
@media (min-width: 0) and (max-width: 991px){
    .header-actions {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media (min-width: 992px){
    .header-actions-ulist{
        float: right;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .header-actions-ulist {
        height: 100%;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 992px){
    .header-actions-ulist {
        display: block;
    }
}

@media (min-width: 992px){
    .header-actions-list{
        display: inline-block;
        vertical-align: middle;
    }
}

@media (min-width: 600px) and (max-width: 991px){
    .header-actions-left {
        padding-left: 8px;
    }
}

@media (min-width: 0px) and (max-width: 991px){
    .header-actions-tablet-hidden {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 991px){
    .header-actions-right {
        padding-right: 8px;
    }
}

@media (min-width: 992px){
    .header-actions-item-link{
        font-size: 14px;
        line-height: 88px;
        transition: line-height .16667s;
        margin: 0 8px;
    }
}

.bbva-svgicon {
    filter: brightness(0) saturate(100%) invert(78%) sepia(13%) saturate(1766%) hue-rotate(2deg) brightness(105%) contrast(94%);
}

@media (min-width: 992px){
    .header-access{
        font-size: 15px;
        line-height: 24px;
        will-change: background-position;
        background-size: 210% 100%;
        background-position: 99% center;
        background-repeat: no-repeat;
        transition: background-position .66667s cubic-bezier(.24, .22, .31, 1.07);
        background-image: linear-gradient(100deg, #02a5a5 50%, #028484 50%);
        color: #fff;
        text-align: center;
        padding: 14px 24px;
        margin-left: 24px;
        background-color: #028484;
        cursor: pointer;
        margin: 0 8px;
    }
}

@media (min-width: 992px){
    .header-access-text{
        display: inline-block;
    }
}

@media (min-width: 0) and (max-width: 601px){
    .header-access-text{
        display: none;
    }
}

@media (min-width: 600px){
    .header-access-text-mobile {
        display: none;
    }
}

@media (min-width: 0) and (max-width: 991px){
    .header-actions-text-mobile {
        position: relative;
        top: 2px;
    }
}

@media (min-width: 992px){
    .header-access-text{
        display: inline-block;
    }
}

@media (min-width: 992px){
    .megamenu-trigger{
        margin-right: 0;
        width: 5.6em;
    }
}

@media (min-width: 992px){
    .header-icon{
        margin-top: -2px;
    }
}

.bbvaicn {
    fill: #fff;
}

/*Forms styles*/

@media (min-width: 992px){
    .access-container{
        max-height: calc(100vh - 88px);
    }
}

@media (min-width: 1200px){
    .container {
        width: 1176px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

@media (min-width: 600px){
    .container {
        padding: 48px 0 32px;
        min-height: 280px;
    }
}

.tip-area {
    border: 1px solid rgba(18,18,18,.2);
}

.tip-msg {
    background-image: url(https://assets.caasbbva.com/argentina/net/security-tips/identification.png);
}

.input-label{
    transform: translate3d(0, -11px, 0);
    transition: all .3s ease;
}

.options-list{
    padding:0;
    list-style-type: none;
    max-height: 325px;
    transition: all .3s ease;
    -webkit-appearance: none;
}

.options-li {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0.5px 0 0 #bdbdbd;
    color: #666;
    cursor: pointer;
    font-size: .875em;
    line-height: 24px;
    margin-bottom: 1px;
    padding: 12px 15px;
    transition: all .3s ease;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: list-item;
    text-align: left;
    -webkit-appearance: none;
}

.options-li:hover {
    background: #e9e9e9;
    color: #121212;
}

@media (min-width: 0) and (max-width: 991px){
    .virtual-keyboard {
        display: none;
    }
}

@media (min-width: 992px){
    .virtual-keyboard {
        display: block;
    }
}

@media (max-width: 768px){
    .buttons-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 768px){
    .secondary-button {
        margin-top: 20px;
    }
}